*.sh
.vscode/
__pycache__/
.ipynb_checkpoints/
keyed_vectors/

Pruebas.ipynb
test_lda.ipynb
Enunciado.docx
unlabeled_dataset/
labeled_dataset/
test_dataset/
lda_gensim.ipynb
test_lda.ipynb
*.swp
temas.txt
*.png
*.log
*.csv
service_account_key.json
src/test_w2v.ipynb
